* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color1);
}
:root:not(.mode) {
  --warnautama: cornflowerblue;
  --warnakedua: skyblue;
  --warnaketiga: lightskyblue;
  --font-color1: black;
}

:root.mode {
  --warnautama: black;
  --warnakedua: black;
  --warnaketiga: black;
  --font-color1: #ffffff;
}
body {
  margin: 0;
  text-align: left;
  background-image: url(https://drive.google.com/uc?export=view&id=1VKsG2bNyOSSt72mYdfCUGKuqf6jFjRHC);
  background-size: cover;
}
.header {
  background-color: var(--warnaketiga);
  text-align: left;
}
.navbar {
  display: flex;
  background-color: var(--warnautama);
  justify-content: flex-end;
}
.navbar a {
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

.kerja {
  background-color: var(--warnautama);
}
.tabel {
  background-color: var(--warnaketiga);
}
.hub {
  background-color: var(--warnautama);
  width: fit-content;
}
.form {
  background-color: var(--warnautama);
  align-content: center;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
}
.nama {
  border-radius: 10px;
}
.foot {
  display: flexbox;
  background-color: grey;
  padding: 10px;
}
.accordion {
  background-color: var(--warnautama);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: white;
}
.panel {
  padding: 0 18px;
  background-color: var(--warnakedua);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
.accordion1 {
  background-color: var(--warnautama);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion1:hover {
  background-color: white;
}
.panel1 {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion1:after {
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

iframe {
  width: 640px;
  height: 360px;
}

@media (max-width: 1080px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  iframe {
    width: 320px;
    height: 180px;
  }
}
